
html {
    font-size: 14px;
}

body {
    width: 250px;
}

#create-btn {
    width: 100%;
}

#eventList {
    display: none;
}

#eventList.show {
    display: block;
}
#eventForm {
    display: none;
}

#eventForm.show {
    display: block;
}

li {
    list-style: none;
    padding-left: 0;
    padding-bottom: 10px;
}

ul {
    padding-left: 0;
}